[submodule "tesser_automidi"]
	path = tesser_automidi
	url = https://github.com/AdrianArtacho/tesser_automidi.git
[submodule "tesser_block"]
	path = tesser_block
	url = https://github.com/AdrianArtacho/tesser_block.git
[submodule "tesser_cc2note"]
	path = tesser_cc2note
	url = https://github.com/AdrianArtacho/tesser_cc2note.git
[submodule "tesser_clips"]
	path = tesser_clips
	url = https://github.com/AdrianArtacho/tesser_clips.git
[submodule "tesser_cue"]
	path = tesser_cue
	url = https://github.com/AdrianArtacho/tesser_cue.git
[submodule "tesser_delay"]
	path = tesser_delay
	url = https://github.com/AdrianArtacho/tesser_delay.git
[submodule "tesser_dynamic"]
	path = tesser_dynamic
	url = https://github.com/AdrianArtacho/tesser_dynamic.git
[submodule "tesser_gesture"]
	path = tesser_gesture
	url = https://github.com/AdrianArtacho/tesser_gesture.git
[submodule "tesser_inscore"]
	path = tesser_inscore
	url = https://github.com/AdrianArtacho/tesser_inscore.git
[submodule "tesser_livescore"]
	path = tesser_livescore
	url = https://github.com/AdrianArtacho/tesser_livescore.git
[submodule "tesser_mirror"]
	path = tesser_mirror
	url = https://github.com/AdrianArtacho/tesser_mirror.git
[submodule "tesser_note2cc"]
	path = tesser_note2cc
	url = https://github.com/AdrianArtacho/tesser_note2cc.git
[submodule "tesser_pgch"]
	path = tesser_pgch
	url = https://github.com/AdrianArtacho/tesser_pgch.git
[submodule "tesser_ranges"]
	path = tesser_ranges
	url = https://github.com/AdrianArtacho/tesser_ranges.git
[submodule "tesser_scale"]
	path = tesser_scale
	url = https://github.com/AdrianArtacho/tesser_scale.git
[submodule "tesser_visuals"]
	path = tesser_visuals
	url = https://github.com/AdrianArtacho/tesser_visuals.git
[submodule "tesser_buffer"]
	path = tesser_buffer
	url = https://github.com/AdrianArtacho/tesser_buffer.git
[submodule "tesser_fractal"]
	path = tesser_fractal
	url = https://github.com/AdrianArtacho/tesser_fractal.git
[submodule "tesser_gate"]
	path = tesser_gate
	url = https://github.com/AdrianArtacho/tesser_gate.git
[submodule "tesser_videoloop"]
	path = tesser_videoloop
	url = https://github.com/AdrianArtacho/tesser_videoloop.git
[submodule "tesser_ramp"]
	path = tesser_ramp
	url = https://github.com/AdrianArtacho/tesser_ramp.git
[submodule "tesser_cc2params"]
	path = tesser_cc2params
	url = https://github.com/AdrianArtacho/tesser_cc2params.git
[submodule "tesser_cc2signal"]
	path = tesser_cc2signal
	url = https://github.com/AdrianArtacho/tesser_cc2signal.git
[submodule "tesser_fade"]
	path = tesser_fade
	url = https://github.com/AdrianArtacho/tesser_fade.git
[submodule "tesser_mutate"]
	path = tesser_mutate
	url = https://github.com/AdrianArtacho/tesser_mutate.git
[submodule "tesser_recall"]
	path = tesser_recall
	url = https://github.com/AdrianArtacho/tesser_recall.git
[submodule "tesser_threshold"]
	path = tesser_threshold
	url = https://github.com/AdrianArtacho/tesser_threshold.git
[submodule "tesser_signal2midi"]
	path = tesser_signal2midi
	url = https://github.com/AdrianArtacho/tesser_signal2midi.git
[submodule "tesser_clip2cc"]
	path = tesser_clip2cc
url=https://github.com/AdrianArtacho/tesser_clip2cc.git
[submodule "tesser_route"]
	path = tesser_route
	url = https://github.com/AdrianArtacho/tesser_route.git
[submodule "tesser_chains"]
	path = tesser_chains
	url = https://github.com/AdrianArtacho/tesser_chains.git
[submodule "tesser_pedal"]
	path = tesser_pedal
	url = https://github.com/AdrianArtacho/tesser_pedal.git
[submodule "tesser_funnel"]
	path = tesser_funnel
	url = https://github.com/AdrianArtacho/tesser_funnel.git
[submodule "tesser_function"]
	path = tesser_function
	url = https://github.com/AdrianArtacho/tesser_function.git
[submodule "tesser_repeat"]
	path = tesser_repeat
url=https://github.com/AdrianArtacho/tesser_repeat.git
[submodule "tesser_nav"]
	path = tesser_nav
	url = https://github.com/AdrianArtacho/tesser_nav.git
[submodule "tesser_freeze"]
	path = tesser_freeze
	url = https://github.com/AdrianArtacho/tesser_freeze.git
[submodule "tesser_antiphon"]
	path = tesser_antiphon
url=https://github.com/AdrianArtacho/tesser_antiphon.git
[submodule "tesser_agogic"]
	path = tesser_agogic
url=https://github.com/AdrianArtacho/tesser_agogic.git
[submodule "tesser_phase"]
	path = tesser_phase
	url = https://github.com/AdrianArtacho/tesser_phase.git
[submodule "tesser_bracket"]
	path = tesser_bracket
	url = https://github.com/AdrianArtacho/tesser_bracket.git
[submodule "tesser_menu"]
	path = tesser_menu
	url = https://github.com/AdrianArtacho/tesser_menu.git
[submodule "tesser_forward"]
	path = tesser_forward
	url = https://github.com/AdrianArtacho/tesser_forward.git
[submodule "tesser_tap"]
	path = tesser_tap
	url = https://github.com/AdrianArtacho/tesser_tap.git
[submodule "tesser_conductor"]
	path = tesser_conductor
	url = https://github.com/AdrianArtacho/tesser_conductor.git
[submodule "tesser_video"]
	path = tesser_video
	url = https://github.com/AdrianArtacho/tesser_video.git
[submodule "tesser_db2note"]
	path = tesser_db2note
	url = https://github.com/AdrianArtacho/tesser_db2note.git
[submodule "tesser_clip2seq"]
	path = tesser_clip2seq
	url = https://github.com/AdrianArtacho/tesser_clip2seq.git
[submodule "tesser_IMU"]
	path = tesser_IMU
	url = https://github.com/AdrianArtacho/tesser_IMU.git
[submodule "tesser_osc"]
	path = tesser_osc
	url = https://github.com/AdrianArtacho/tesser_osc.git
[submodule "tesser_zigzag"]
	path = tesser_zigzag
	url = https://github.com/AdrianArtacho/tesser_zigzag.git
[submodule "tesser_gap"]
	path = tesser_gap
	url = https://github.com/AdrianArtacho/tesser_gap.git
[submodule "tesser_trigger"]
	path = tesser_trigger
	url = https://github.com/AdrianArtacho/tesser_trigger.git
[submodule "tesser_ccscale"]
	path = tesser_ccscale
	url = https://github.com/AdrianArtacho/tesser_ccscale.git
[submodule "tesser_change"]
	path = tesser_change
	url = https://github.com/AdrianArtacho/tesser_change.git
[submodule "tesser_prompt"]
	path = tesser_prompt
	url = https://github.com/AdrianArtacho/tesser_prompt.git
[submodule "tesser_curve"]
	path = tesser_curve
	url = https://github.com/AdrianArtacho/tesser_curve.git
[submodule "tesser_ascii"]
	path = tesser_ascii
	url = https://github.com/AdrianArtacho/tesser_ascii.git
[submodule "tesser_set"]
	path = tesser_set
	url = https://github.com/AdrianArtacho/tesser_set.git
[submodule "tesser_extract"]
	path = tesser_extract
	url = https://github.com/AdrianArtacho/tesser_extract.git
[submodule "tesser_receive"]
	path = tesser_receive
	url = https://github.com/AdrianArtacho/tesser_receive.git
[submodule "tesser_seq"]
	path = tesser_seq
	url = https://github.com/AdrianArtacho/tesser_seq.git
[submodule "tesser_shuffle"]
	path = tesser_shuffle
	url = https://github.com/AdrianArtacho/tesser_shuffle.git
[submodule "tesser_pipe"]
	path = tesser_pipe
	url = https://github.com/AdrianArtacho/tesser_pipe.git
[submodule "tesser_hold"]
	path = tesser_hold
	url = https://github.com/AdrianArtacho/tesser_hold.git
[submodule "tesser_split"]
	path = tesser_split
	url = https://github.com/AdrianArtacho/tesser_split.git
[submodule "tesser_recode"]
	path = tesser_recode
	url = https://github.com/AdrianArtacho/tesser_recode.git
[submodule "tesser_renote"]
	path = tesser_renote
	url = https://github.com/AdrianArtacho/tesser_renote.git
[submodule "tesser_cc"]
	path = tesser_cc
	url = https://github.com/AdrianArtacho/tesser_cc
[submodule "readme-tools"]
	path = readme-tools
	url = https://github.com/AdrianArtacho/readme-tools.git
[submodule "tesser_cmd"]
	path = tesser_cmd
	url = https://github.com/AdrianArtacho/tesser_cmd.git
