[submodule "Cue"]
	path = Cue
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_cue.git
[submodule "Clips"]
	path = Clips
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_clips.git
[submodule "Delay"]
	path = Delay
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_delay.git
[submodule "Dynamic"]
	path = Dynamic
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_dynamic.git
[submodule "Gesture"]
	path = Gesture
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_gesture.git
[submodule "INScore"]
	path = INScore
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_inscore.git
[submodule "LiveScore"]
	path = LiveScore
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_livescore.git
[submodule "Mirror"]
	path = Mirror
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_mirror.git
[submodule "Note2CC"]
	path = Note2CC
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_note2cc.git
[submodule "PgCh"]
	path = PgCh
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_pgch.git
[submodule "Range"]
	path = Range
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_ranges.git
[submodule "Scale"]
	path = Scale
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_scale.git
[submodule "Visuals"]
	path = Visuals
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_visuals.git
[submodule "tesser_automidi"]
	path = tesser_automidi
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_automidi.git
[submodule "tesser_block"]
	path = tesser_block
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_block.git
[submodule "tesser_cc2note"]
	path = tesser_cc2note
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_cc2note.git
