[submodule "tesser_automidi"]
	path = tesser_automidi
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_automidi.git
[submodule "tesser_block"]
	path = tesser_block
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_block.git
[submodule "tesser_cc2note"]
	path = tesser_cc2note
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_cc2note.git
[submodule "tesser_clips"]
	path = tesser_clips
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_clips.git
[submodule "tesser_cue"]
	path = tesser_cue
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_cue.git
[submodule "tesser_delay"]
	path = tesser_delay
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_delay.git
[submodule "tesser_dynamic"]
	path = tesser_dynamic
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_dynamic.git
[submodule "tesser_gesture"]
	path = tesser_gesture
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_gesture.git
[submodule "tesser_inscore"]
	path = tesser_inscore
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_inscore.git
[submodule "tesser_livescore"]
	path = tesser_livescore
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_livescore.git
[submodule "tesser_mirror"]
	path = tesser_mirror
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_mirror.git
[submodule "tesser_note2cc"]
	path = tesser_note2cc
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_note2cc.git
[submodule "tesser_pgch"]
	path = tesser_pgch
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_pgch.git
[submodule "tesser_ranges"]
	path = tesser_ranges
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_ranges.git
[submodule "tesser_scale"]
	path = tesser_scale
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_scale.git
[submodule "tesser_visuals"]
	path = tesser_visuals
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_visuals.git
[submodule "tesser_buffer"]
	path = tesser_buffer
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_buffer.git
[submodule "tesser_fractal"]
	path = tesser_fractal
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_fractal.git
[submodule "tesser_gate"]
	path = tesser_gate
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_gate.git
[submodule "tesser_videoloop"]
	path = tesser_videoloop
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_videoloop.git
[submodule "tesser_ramp"]
	path = tesser_ramp
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_ramp.git
[submodule "tesser_cc2params"]
	path = tesser_cc2params
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_cc2params.git
[submodule "tesser_cc2signal"]
	path = tesser_cc2signal
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_cc2signal.git
[submodule "Tesser_cmd"]
	path = Tesser_cmd
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_cmd.git
[submodule "tesser_fade"]
	path = tesser_fade
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_fade.git
[submodule "tesser_mutate"]
	path = tesser_mutate
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_mutate.git
[submodule "tesser_recall"]
	path = tesser_recall
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_recall.git
[submodule "tesser_threshold"]
	path = tesser_threshold
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_threshold.git
[submodule "tesser_signal2midi"]
	path = tesser_signal2midi
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_signal2midi.git
[submodule "tesser_clip2cc"]
	path = tesser_clip2cc
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_clip2cc.git
[submodule "tesser_route"]
	path = tesser_route
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_route.git
[submodule "tesser_chains"]
	path = tesser_chains
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_chains.git
[submodule "tesser_pedal"]
	path = tesser_pedal
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_pedal.git
[submodule "tesser_funnel"]
	path = tesser_funnel
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_funnel.git
[submodule "tesser_function"]
	path = tesser_function
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_function.git
[submodule "tesser_repeat"]
	path = tesser_repeat
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_repeat.git
[submodule "tesser_nav"]
	path = tesser_nav
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_nav.git
[submodule "tesser_freeze"]
	path = tesser_freeze
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_freeze.git
[submodule "tesser_antiphon"]
	path = tesser_antiphon
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_antiphon.git
[submodule "tesser_agogic"]
	path = tesser_agogic
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_agogic.git
[submodule "tesser_phase"]
	path = tesser_phase
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_phase.git
[submodule "tesser_bracket"]
	path = tesser_bracket
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_bracket.git
[submodule "tesser_menu"]
	path = tesser_menu
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_menu.git
[submodule "tesser_forward"]
	path = tesser_forward
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_forward.git
[submodule "tesser_tap"]
	path = tesser_tap
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_tap.git
[submodule "tesser_conductor"]
	path = tesser_conductor
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_conductor.git
[submodule "tesser_video"]
	path = tesser_video
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/tesser_video.git
